version: "3.9"

services:
  backend:
    build: .
    image: donfortune1/baya-backend:latest
    container_name: baya-backend
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    environment:
      - JAEGER_ENDPOINT=http://jaeger:4318/v1/traces
    depends_on:
      - jaeger 

  frontend:
    build: ./client
    image: donfortune1/baya-frontend:latest
    container_name: baya-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    user: root
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      # - "--query.active-query-log-path="
      # - "--query.active-query-log-path=/tmp/active_query_log"
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3005:3000"
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana

  loki:
    image: grafana/loki:2.8.2
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki/local-config.yaml:/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:2.8.2
    container_name: promtail
    volumes:
      # Mount the configuration file
      - ./loki/promtail-local-config.yaml:/etc/promtail/config.yaml
      # Mount the Docker log directory so Promtail can read the files
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      # Mount the Docker socket to discover container names
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/config.yaml
    depends_on:
      - loki

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "16686:16686"  # Jaeger UI
      - "4317:4317"    # <--- NEW: OTLP gRPC
      - "4318:4318"    # <--- NEW: OTLP HTTP (Node.js uses this one!)
      - "14250:14250"  # Model/Proto
    environment:
      - COLLECTOR_OTLP_ENABLED=true # Just to be safe for older images
    volumes:
      - jaeger_data:/jaeger_data

volumes:
  prometheus_data:
  grafana_data:
  loki_data:
  jaeger_data:

