version: "3.9"

services:
  backend:
    image: donfortune1/baya-backendend:1.0
    container_name: baya-backend
    ports:
      - "3000:3000"
    env_file:
      - ./.env

  frontend:
    image: donfortune1/baya-frontend:1.0
    container_name: baya-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    user: root
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      # - "--query.active-query-log-path="
      # - "--query.active-query-log-path=/tmp/active_query_log"
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3005:3000"
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana

  loki:
    image: grafana/loki:2.8.2
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki/local-config.yaml:/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:2.8.2
    container_name: promtail
    volumes:
      # Mount the configuration file
      - ./loki/promtail-local-config.yaml:/etc/promtail/config.yaml
      # Mount the Docker log directory so Promtail can read the files
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      # Mount the Docker socket to discover container names
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/config.yaml
    depends_on:
      - loki

volumes:
  prometheus_data:
  grafana_data:
  loki_data:

