# version: "3.9"

# services:
#   backend:
#     image: donfortune1/baya-backendend:1.0
#     container_name: baya-backend
#     ports:
#       - "3000:3000"
#     env_file:
#       - ./.env

#   frontend:
#     image: donfortune1/baya-frontend:1.0
#     container_name: baya-frontend
#     ports:
#       - "5173:80"
#     depends_on:
#       - backend

# prometheus:
#   image: prom/prometheus:latest
#   container_name: prometheus
#   command:
#     - "--config.file=/etc/prometheus/prometheus.yml"
#     - "--storage.tsdb.path=/prometheus"
#     - "--storage.tsdb.min-block-duration=2h"   # fixes some mmap issues on macOS
#     - "--storage.tsdb.max-block-duration=2h"
#   volumes:
#     - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
#     - prometheus-data:/prometheus   # named volume
#   ports:
#     - "9090:9090"
#   restart: unless-stopped

version: "3.9"

services:
  backend:
    image: donfortune1/baya-backendend:1.0
    container_name: baya-backend
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    restart: unless-stopped

  frontend:
    image: donfortune1/baya-frontend:1.0
    container_name: baya-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:v2.52.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - prometheus-data:/prometheus
    restart: unless-stopped

volumes:
  prometheus-data:
