name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest 

    steps:
      # 1. Check out the code from GitHub
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Set up Docker Buildx (The modern builder)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3. Log in to Docker Hub (Using the secrets you just set)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

     # 4. Build and Push the Backend
      - name: Build and push Backend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dockerfile
          push: true
          tags: donfortune1/baya-backend:latest,donfortune1/baya-backend:${{ github.sha }}

      # 5. Build and Push the Frontend
      - name: Build and push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./client
          file: ./client/dockerfile
          push: true
          tags: donfortune1/baya-frontend:latest