name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Required for CodeQL to upload results
      actions: read
      contents: read

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript

      
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        
     
      - name: Run Trivy Vulnerability Scanner (Filesystem)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          hide-progress: false
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      
      - name: Build and push Backend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dockerfile
          push: true
          tags: donfortune1/baya-backend:latest,donfortune1/baya-backend:${{ github.sha }}

      
      - name: Build and push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./client
          file: ./client/dockerfile
          push: true
          tags: donfortune1/baya-frontend:latest